

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Work Sans', sans-serif;
    font-size: 19px;
    background-color: #081b29;
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1px;
    margin: 0;
    height: 10vh;
}



nav h1 {
    padding: 50px;
    color: #fff;
    font-size: 25px;
    font-family: "Work Sans";
}

nav a {
    list-style: none;
    text-decoration: none;
}

nav h1:hover {
    color: #00abf0;
    cursor: pointer;
}

ul {
    padding: 6rem;
}

ul a {
    text-decoration: none;
    color: #fff;
    padding: 1rem;
}

ul a:hover, a.active  {
    color: #00abf0;
}

ul a:hover {
    color: #00abf0;
}

main section {
    height: 100vh;
    align-items: center;
    display: flex;
    padding: 0 10%;
}



.portfolio-about {
    max-width: 600px;
}

.portfolio-about h1 {
    font-size: 56px;
    font-weight: 700;
    color: #fff;
}

.portfolio-about h3 {
    color: #00abf0;
    font-size: 32px;
    font-weight: 700;
}

.portfolio-about p {
    font-size: 16px;
    padding-top: 3%;
    color: #fff;
    line-height: 1.5;
}

div .portfolio-link a {
    text-decoration: none;
}

.portfolio-link {
   padding-top: 4%; 
   display: block;
   justify-content: space-around;
}

.portfolio-links-a {
    padding: 5px;
    background-color: #00abf0;
    border: 1px solid #00abf0;
    border-radius: 5px;
    width: 100px;
    text-align: center;
    font-weight: 600;
    letter-spacing: 1px;
}

.portfolio-links-a  a {
    text-decoration: none;
    color: #000;
    display: inline;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 100%;
    border-radius: 5px;
    font-weight: 600;
}

.portfolio-links-a a::before {
    background: #00abf0;
    z-index: -1;
    transition: .5s;
}

.portfolio-link a:nth-child(1) {
    color: #081b29;
    background: #00abf0;
}

.portfolio-link a:hover {
    color: #081b29;
    background: #00abf0;
    cursor: pointer;
}

.portfolio-links-b {
    padding: 5px;
    color: #00abf0;
    border: 1px solid #00abf0;
    border-radius: 5px;
    width: 100px;
    font-weight: 600;
    letter-spacing: 1px;
    margin-left: 3%;
}

.portfolio-links-b a::before {
    background: #081b29;
    z-index: -1;
    transition: .5s;
}

footer {
    padding-left: 10%;
}

.contact {
    position: absolute;
    bottom: -80px;
    width: 170px;
    display: flex;
    justify-content: space-between;
}

.contact a {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid #00abf0;
    border-radius: 50%;
    font-size: 20px;
    color: #00abf0;
    text-decoration: none;
    z-index: 1;
    overflow: hidden;
    transition: .5s;
}

.contact a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #00abf0;
    z-index: -1;
}

.contact a:hover {
    color: #081b29;

}

.contact a:hover::before {
    width: 100%;
}

.links ul {
    display: flex;
    justify-content: start;
    list-style: none;
    padding-left: 5px;
}
